body{
	padding-top: 4em;
}
.content-wrapper,.image-container{
	background: rgba(255, 255, 255, .95);
	padding: 1em;
	overflow:hidden;
}
.list-wrapper{
	padding-left:2em;
}
.content-wrapper li{
	display:block;
	padding:.25em;
	font-size: 200%;
	margin-bottom:1em;
}
.content-wrapper,.first{
	margin-bottom:3em;
}
.hidden{
	display:none;
}
.row{
	margin-bottom:2em;
}
